body { background: #0f0f0f; }

header {
 position: relative;
 height: 860px;
 min-height: 500px;
 width: 100%;
 background-size: cover !important;
 -webkit-background-size: cover !important;
 text-align: center;
 overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: -100;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

header:before {
 content: '';
 display: inline-block;
 vertical-align: middle;
 height: 100%;
}

header .banner {
 display: inline-block;
 vertical-align: center;
 margin: 0 auto;
 width: 85%;
 padding-bottom: 30px;
 text-align: center;
 font:46px 'bold', MyUniqueFont;
 font-weight: bold;
 letter-spacing: 5px;

}

header .banner-text {
 color: #f5f5f5;
 width: 100%;
 }

section {
 background: #2B2B2B;
 /*padding-top: 196px;*/
 /*padding-bottom: 66px;*/
 overflow: hidden;
 color:#fff;
 /*text-align: center;*/
}

footer {
 position: relative;
 right: 0;
 bottom: 0;
 left: 0;
 padding: 1rem;
 background-color: #0f0f0f;
 text-align: center;
 color:#fff;
 text-align: center;
}

#navigation {
    height: 45px;
    position: relative;
    top: -8px;
    padding-left: 28%;
}

#navigation ul li {
    float: left;
    position: inherit;
    list-style-type:none;
}

#navigation ul li a {
    color: #939393;
    padding: 0 35px;
    font-family: sans-serif;
    line-height: 80px;
    text-decoration: none;
    display: block;
    height: 80px;
      
}

#navigation ul li a:hover {
    background: #db0b0b;
    text-decoration: underline;
}
